In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[8,8,4],[7,9,5],[6,10,6],[5,12,7]],columns=['cgpa','profile_score','lpa'])

In [3]:
df

   cgpa  profile_score  lpa
0     8              8    4
1     7              9    5
2     6             10    6
3     5             12    7

In [15]:
def initialize_parameters(layers_dims):
    np.random.seed(3) # the random number generated will always be same
    parameters = {}
    L = len(layers_dims)
    for l in range(1,L):
        parameters['W' + str(l)] = np.ones((layers_dims[l-1],layers_dims[l])) * 0.1
        parameters['b'+ str(l)] = np.zeros((layers_dims[l],1))

    return parameters

In [19]:
initialize_parameters([2,2,1])

{'W1': array([[0.1, 0.1],
        [0.1, 0.1]]),
 'b1': array([[0.],
        [0.]]),
 'W2': array([[0.1],
        [0.1]]),
 'b2': array([[0.]])}